<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Annonce</title>
    <link rel="stylesheet" href="/forms.css">
    <link rel="stylesheet" href="/dash.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <div class="Sidebar">
        <a href="/annonce.html">
         <div><i class="uil uil-home"></i> Page d'accueil</div>
        </a>
        <a href="/dashboard">
         <div><i class="uil uil-list-ul"></i> Mes annonces</div>
        </a>
        <a href="/stats.html">
            <div><i class="uil uil-chart-bar"></i> Statistique</div>
        </a>
        <a href="/ListeMessage.html">
            <div><i class="uil uil-envelope"></i> Message</div>
        </a>
        <div><i class="uil uil-bell"></i> Notification</div>
        <div class="Logout">
            <a href="/logout">
              <i class="uil uil-sign-out-alt"></i> Déconnexion
            </a>
        </div>
    </div>
    <div class="container">
        <header>Edit Annonce</header>
        <form action="/Edit/<%= obj._id %>?_method=PUT" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <div class="form first">
                <div class="details personal">
                    <div class="fields">
                        <div class="input-field">
                            <label>Titre</label>
                            <input type="text" name="titre" value="<%= obj.titre %>" required>
                        </div>
                        <div class="input-field">
                            <label>Prix</label>
                            <input type="text" name="Prix" value="<%= obj.Prix %>" step="0.01" required>
                        </div>
                        <div class="input-field">
                            <label>Surface</label>
                            <input type="number" name="surface" value="<%= obj.surface %>" required>
                        </div>
                        <div class="input-field">
                            <label>Nombre de pièces</label>
                            <input type="number" name="nombreDePieces" value="<%= obj.nombreDePieces %>" required>
                        </div>
                        <div class="input-field">
                            <label>Type de bien</label>
                            <select name="typeDeBien" required>
                                <option disabled selected>Sélectionner le type</option>
                                <% categories.forEach(category => { %>
                                    <option disabled>=== <%= category.category %> ===</option>
                                    <% category.offerings.forEach(offering => { %>
                                        <option value="<%= offering %>" <%= obj.typeDeBien === offering ? 'selected' : '' %>><%= offering %></option>
                                    <% }); %>
                                <% }); %>
                            </select>
                        </div>
                        <div class="input-field">
                            <label>Adresse complète</label>
                            <input type="text" name="adresse" value="<%= obj.adresse %>" required>
                        </div>
                        
                        <div class="input-field">
                            <label>Diagnostics</label>
                            <textarea name="diagnostics" required><%= obj.diagnostics %></textarea>
                        </div>
                        <div class="input-field">
                            <label>Équipements :</label>
                            <textarea name="equipements" required><%= obj.equipements %></textarea>
                        </div>
                        <div class="input-field">
                            <label>Description</label>
                            <textarea name="description" required><%= obj.description %></textarea>
                        </div>
                        
                        <div class="input-field file-input">
                            <label for="file">Photos et/ou vidéos :</label>
                            <div class="file-wrapper">
                                <i class="uil uil-image-plus"></i>
                                <input type="file" name="photosVideos" id="file" accept="image/*, video/*" multiple>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="details ID">
                    <button class="nextBtn" type="submit">
                        <span class="btnText">Save Changes</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div>
            </div>    
        </form>
    </div>
</body>
</html>
